{% extends 'father2.html' %}

	{% block title %}<title>天天生鲜-商品列表</title>{% endblock title %}

{% block list_title %}
	<div class="breadcrumb">
		<a href="{% url 'goods:index' %}">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:index' %}">{{ t.tname }}</a>
	</div>
{% endblock list_title %}
{% block left %}{% endblock left %}
{% block right %}
    <div class="main_wrap clearfix">
            <ul class="goods_type_list clearfix">
            {%for item in page_obj%}
                <li>
					<a href=""><img src="/static/{{ item.object.gimg }}"></a>
					<h4><a href="">{{ item.object.gname }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ item.object.gprice }}</span>
						<span class="unit">{{ item.object.gprice }}/{{ item.object.gunit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
            {%empty%}
                <li>啥也没找到</li>
            {%endfor%}


			</ul>
{#        {%for pindex in page.paginator.page_range%}#}
{#            {%if pindex == page.number%}#}
{#                {{pindex}}&nbsp;&nbsp;#}
{#            {%else%}#}
{#                <a href="?q={{query}}&amp;page={{pindex}}">{{pindex}}</a>&nbsp;&nbsp;#}
{#            {%endif%}#}
{#        {%endfor%}#}

			<div class="pagenation">
            {% if page_obj.has_previous %}
                <a href="?q={{query}}&amp;page=1">首页</a>&nbsp;&nbsp;
                <a href="?q={{query}}&amp;page={{page_obj.number|add:-1}}"><上一页</a>&nbsp;&nbsp;
            {% endif %}
            {% if page_obj.paginator.num_pages > 5 %}
                {% if index_list.4 > 5 %}
                        <a href="">...</a>
                {% endif %}
            {% endif %}
                {% for i in index_list %}
                    {% if i == page_obj.number %}
                        <a href="?q={{query}}&amp;page={{i}}" class="active">{{ i }}</a>
                    {% else %}
                        <a href="?q={{query}}&amp;page={{i}}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% if page_obj.paginator.num_pages > 5 %}
                {% if page_obj.paginator.num_pages|add:-1 > index_list.4 %}
                    <a href="">...</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
				<a href="?q={{query}}&amp;page={{page_obj.number|add:1}}">下一页></a>
                <a href="?q={{query}}&amp;page={{page_obj.paginator.num_pages}}">末页</a>
            {% endif %}
			</div>
		</div>

{% endblock right %}

