{% extends 'father2.html' %}

	{% block title %}<title>天天生鲜-商品列表</title>{% endblock title %}

{% block list_title %}
	<div class="breadcrumb">
		<a href="{% url 'goods:index' %}">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:index' %}">{{ t.tname }}</a>
	</div>
{% endblock list_title %}

{% block right %}
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
{#            {% url 'goods:list' tid=t.id pIndex=now_page.number kind=0 %}#}
				<a href="?kind=0" {% if kind == '0' %}class="active"{% endif %}>默认</a>
				<a href="?kind=1&order={{ order|default:1 }}" {% if kind == '1' %}class="active"{% endif %}>价格</a>
				<a href="?kind=2&order={{ order|default:1 }}" {% if kind == '2' %}class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for good in now_page %}
				<li>
					<a href="{% url 'goods:detail' tid=t.id gid=good.id %}"><img src="/static/{{ good.gimg }}"></a>
					<h4><a href="{% url 'goods:detail' tid=t.id gid=good.id %}">{{ good.gname }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ good.gprice }}</span>
						<span class="unit">{{ good.gprice }}/{{ good.gunit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
            {% if now_page.has_previous %}
                <a href="{% url 'goods:list' tid=t.id pIndex=1 %}">首页</a>
				<a href="{% url 'goods:list' tid=t.id pIndex=now_page.number|add:-1 %}"><上一页</a>
            {% endif %}
            {% if p.num_pages > 5 %}
                {% if index_list.4 > 5 %}
                        <a href="">...</a>
                {% endif %}
            {% endif %}
                {% for i in index_list %}
                    {% if i == now_page.number %}
                        <a href="{% url 'goods:list' tid=t.id pIndex=i %}" class="active">{{ i }}</a>
                    {% else %}
                        <a href="{% url 'goods:list' tid=t.id pIndex=i %}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% if p.num_pages > 5 %}
                {% if p.num_pages|add:-1 > index_list.4 %}
                    <a href="">...</a>
                {% endif %}
            {% endif %}
            {% if now_page.has_next %}
				<a href="{% url 'goods:list' tid=t.id pIndex=now_page.number|add:1 %}">下一页></a>
                <a href="{% url 'goods:list' tid=t.id pIndex=p.num_pages %}">末页</a>
            {% endif %}
			</div>
		</div>

{% endblock right %}

